{% extends 'base.html' %} {% load static %}
<!-- {% block title %} Quote {% endblock title %} -->



{% block body %}

<div class="gap" style="height: 150px;"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="{% static 'css/font-awesome/css/fontawesome-all.min.css' %}">
<div class="quote-main-container">
    <form action="info" class="quote-form" method="post">
        {% csrf_token %}
        <div class="quote-title">
            Get a Quote
        </div>
        <div class="form-sub-container">
            <div class="form-element">
                <div class="form-sub-title">
                    Membership Start Date
                </div>
                <div class="element-desc">
                    When will you enter Ukraine?
                </div>
                <input type="date" class="date-input">
            </div>
            <div class="form-element">
                <div class="form-sub-title">
                    Membership End Date
                </div>
                <div class="element-desc">
                    When will you leave Ukraine?
                </div>
                <input type="date" class="date-input">
            </div>
            <div class="form-element">
                <div class="form-sub-title">
                    Choose Country
                </div>
                <div class="element-desc">
                    UKRAINE ONLY
                </div>
                <input type="text" class="date-input" value="Ukraine" disabled>
            </div>
            <div class="form-element">
                <div class="form-sub-title">
                    How Many People?
                </div>
                <div class="element-desc">
                    Up to 50-People
                </div>
                <select name="" id="sel">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="form-element">
                <div class="form-sub-title">
                    Level of Membership <i class="fa fa-circle-question" title="Medical Evacuation, Medical Expenses & Medical Repatriation Membership provides $250,000 USD of services and treatment, designed to get you home. Crisis Response Membership provides $150,000 of services in the event of a credible security incident or threat against you or your organisation. "></i>

                </div>
                <div class="element-desc">
                    Select Medical and/or Crisis
                </div>
                <div class="level-label selected">
                    24/7 MEDICAL RESPONSE
                </div>
                <div class="level-label">
                    24/7 CRISIS RESPONSE
                </div>
            </div>
            <div class="form-element">
                <div class="form-sub-title">
                    Add Orange Zone Cover <i class="fa fa-circle-question" title="Please refer to the Inherent Risks, Live Risk Map which identifies Risk Zones in Ukraine where Membership is available. Due to the increased risks within the Orange Zone, an increased rate is added to your premium, only for the number of days you travel within the Orange Zone."></i>
                </div>
                <div class="element-desc">
                    How many days in Orange Zone?
                </div>
                <select name="" id="sel">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="form-element">
                <div class="form-sub-title">
                    Add Personal Accident <i class="fa fa-circle-question" title="In the event you suffer bodily injury, permanent total disability, or accidental death occurring from an unforeseen event, such as a road traffic accident, you or your estate will receive up to a $100,000 lump sum payment. This is an insurance add-on, quoted and issued online for your convenience. Please see policy wording for more information."></i>
                </div>
                <div class="element-desc">
                    Bodily Injury or Accidental Death
                </div>
                <div class="btn-group">
                    <div class="yes">YES</div>
                    <div class="no">NO</div>
                </div>
            </div>
            <div class="form-element">
                <div class="form-sub-title">
                    Quote
                </div>
                <input type="text" name="" id="amount" value="$0.00" disabled>
                <input type="submit" value="JOIN" id="pay">
            </div>
        </div>
    </form>
</div>

{% endblock body %}