{% extends 'base.html' %} {% load static %}
{% block title %} Payment {% endblock title %}



{% block body %}
<div class="gap" style="height: 150px;"></div>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="{% static 'css/font-awesome/css/fontawesome-all.min.css' %}">
<div class="quote-main-container">
    <form action="" class="quote-form" method="post">
        <div class="payment-title">
            Credit Card Details
        </div>
        <div class="form-sub-container" style="gap: 30px;">
            <div class="form-element">
                <div class="form-label">
                    First Name
                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    Last Name
                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    Billing Address

                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    City
                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    Country
                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    Postal Code

                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    Credit Card Number
                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    Expiry Month/Year
                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    CVV
                </div>
                <input type="text">
            </div>
            <div class="form-element">
                <div class="form-label">
                    Have a Referral Code?
                </div>
                <input type="text" placeholder="Enter a Referral Code">
            </div>
        </div>
        <div class="payment-bottom">
            <div class="payment-bottom-left">
                <div class="check-container">
                    <input type="checkbox" name="" id="">
                    
                Subscribe to emails and Alerts
                </div>
                <div class="check-container">
                    <input type="checkbox" name="" id="">
                    
                    I confirm that I have read and agreed to the <a href="" style="color: rgb(0, 183, 178);"> Membership Services Agreement</a>
                </div>
                
            </div>
            <div class="payment-bottom-right">
                <div class="check-container">
                    <input type="checkbox" name="" id="">    
                    Auto-Renew After 30-Days Coverage
                </div>
                <input type="text" name="" id="amount" value="$0.00" disabled>
                <input type="button" value="PAY" id="pay">
            </div>
        </div>
    </form>
</div>
{% endblock body %}