{% extends 'base.html' %} {% load static %}
{% block title %} Information {% endblock title %}



{% block body %}
<div class="gap" style="height: 150px;"></div>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/fontawesome-all.min.css' %}">
    <div class="quote-main-container">
        <form action="payment" class="quote-form" method="post">
            {% csrf_token %}
            <div class="payment-title">
                Credit Card Details
            </div>
            <div class="form-element">
                <div class="form-label">
                    Number of People
                </div>
                <input type="text" style="width: 40px; margin-bottom: 20px;">
            </div>
            <div class="form-sub-container" style="gap: 30px;">
                <div class="form-element">
                    <div class="form-label">
                        First Name*
                    </div>
                    <input type="text">
                </div>
                <div class="form-element">
                    <div class="form-label">
                        Last Name*
                    </div>
                    <input type="text">
                </div>
                <div class="form-element">
                    <div class="form-label">
                        Company / Organisation*
                    </div>
                    <input type="text">
                </div>
                <div class="form-element">
                    <div class="form-label">
                        <mark> Occupation* </mark>
                    </div>
                    <input type="text">
                </div>
                <div class="form-element">
                    <div class="form-label">
                        Email Address*
                    </div>
                    <input type="text">
                </div>
                <div class="form-element">
                    <div class="form-label">
                        Phone Number*
                    </div>
                    <input type="text">
                </div>
                <div class="form-element">
                    <div class="form-label">
                        Date of Birth*
                    </div>
                    <input type="text">
                </div>
                <div class="form-element">
                    <div class="form-label">
                        Gender
                    </div>
                    <input type="text">
                </div>


            </div>
            <div class="info-bottom">
                <div class="info-bottom-left">
                    <div class="form-element">
                        <div class="form-label">
                        <mark>Country of Citizenship*</mark>
                        </div>
                        <input type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">
                        <mark>Country of Residence*</mark>
                        </div>
                        <input type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">
                            Emergency Contact Name
                        </div>
                        <input type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">
                            Emergency Contact Email
                        </div>
                        <input type="text">
                    </div>
                    
                </div>
                <div class="info-bottom-right">
                    <input type="submit" value="NEXT" id="pay" class="next_btn">
                </div>
            </div>
        </form>
    </div>

{% endblock body %}