{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="gap" style="height: 100px;"></div>
<div data-elementor-type="wp-page" data-elementor-id="643" class="elementor elementor-643">
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-d583cbf elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="d583cbf" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ebd1bf1"
				data-id="ebd1bf1" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-8c197f6 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
						data-id="8c197f6" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">PARTNERSHIPS

							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-6df8da1 elementor-invisible elementor-widget elementor-widget-heading"
						data-id="6df8da1" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:500}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Become an Affiliate
							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-7a56953 elementor-widget__width-initial animated-slow elementor-invisible elementor-widget elementor-widget-text-editor"
						data-id="7a56953" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:500}"
						data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.13.3 - 22-05-2023 */
								.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
									background-color: #69727d;
									color: #fff
								}

								.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
									color: #69727d;
									border: 3px solid;
									background-color: transparent
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
									margin-top: 8px
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
									width: 1em;
									height: 1em
								}

								.elementor-widget-text-editor .elementor-drop-cap {
									float: left;
									text-align: center;
									line-height: 1;
									font-size: 50px
								}

								.elementor-widget-text-editor .elementor-drop-cap-letter {
									display: inline-block
								}
							</style>
							<p>We will not compete with you. Your clients remain your clients.</p>
							<p>At Inherent Risks, we value our affiliates and work with them to offer a seamless
								solution to their clients, with a reputable provider, which they can be proud of. An
								affordable, medical evacuation and crisis response solution with an integrated
								assistance and claims capability, tailored specifically for the unique complex risks
								associated with (re)entering Ukraine and (re)establishing operations, which has been
								tried and tested.</p>
							<p>Through our Affiliate Programme, you will be given a unique Affiliate Link to send to
								your clients. You will also receive a unique Username and Password, and at any time
								you will have the capability to log-in to your online Dashboard. From there you will
								be able to view any Members you have referred, the amount of competitive
								brokerage/commission you have earned, and you will be able to download a live
								bordereau for your records</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-decc108 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="decc108" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-99bf6f4"
				data-id="99bf6f4" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-855e0f8 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
						data-id="855e0f8" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Get in touch</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-9026bf1 elementor-widget__width-inherit animated-slow elementor-invisible elementor-widget elementor-widget-text-editor"
						data-id="9026bf1" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
						data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p><em><strong>Let’s discuss how Inherent Risks can enhance your product offering.
										Please complete the form below and a member of our Partnerships team will be
										in touch.</strong></em></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-b8c30d1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="b8c30d1" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c82bd11"
				data-id="c82bd11" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-d81e6cd elementor-button-align-end elementor-widget elementor-widget-form"
						data-id="d81e6cd" data-element_type="widget"
						data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}"
						data-widget_type="form.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor-pro - v3.12.2 - 09-04-2023 */
								.elementor-button.elementor-hidden,
								.elementor-hidden {
									display: none
								}

								.e-form__step {
									width: 100%
								}

								.e-form__step:not(.elementor-hidden) {
									display: flex;
									flex-wrap: wrap
								}

								.e-form__buttons {
									flex-wrap: wrap
								}

								.e-form__buttons,
								.e-form__buttons__wrapper {
									display: flex
								}

								.e-form__indicators {
									display: flex;
									justify-content: space-between;
									align-items: center;
									flex-wrap: nowrap;
									font-size: 13px;
									margin-bottom: var(--e-form-steps-indicators-spacing)
								}

								.e-form__indicators__indicator {
									display: flex;
									flex-direction: column;
									align-items: center;
									justify-content: center;
									flex-basis: 0;
									padding: 0 var(--e-form-steps-divider-gap)
								}

								.e-form__indicators__indicator__progress {
									width: 100%;
									position: relative;
									background-color: var(--e-form-steps-indicator-progress-background-color);
									border-radius: var(--e-form-steps-indicator-progress-border-radius);
									overflow: hidden
								}

								.e-form__indicators__indicator__progress__meter {
									width: var(--e-form-steps-indicator-progress-meter-width, 0);
									height: var(--e-form-steps-indicator-progress-height);
									line-height: var(--e-form-steps-indicator-progress-height);
									padding-right: 15px;
									border-radius: var(--e-form-steps-indicator-progress-border-radius);
									background-color: var(--e-form-steps-indicator-progress-color);
									color: var(--e-form-steps-indicator-progress-meter-color);
									text-align: right;
									transition: width .1s linear
								}

								.e-form__indicators__indicator:first-child {
									padding-left: 0
								}

								.e-form__indicators__indicator:last-child {
									padding-right: 0
								}

								.e-form__indicators__indicator--state-inactive {
									color: var(--e-form-steps-indicator-inactive-primary-color, #c2cbd2)
								}

								.e-form__indicators__indicator--state-inactive [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
									background-color: var(--e-form-steps-indicator-inactive-secondary-color, #fff)
								}

								.e-form__indicators__indicator--state-inactive object,
								.e-form__indicators__indicator--state-inactive svg {
									fill: var(--e-form-steps-indicator-inactive-primary-color, #c2cbd2)
								}

								.e-form__indicators__indicator--state-active {
									color: var(--e-form-steps-indicator-active-primary-color, #39b54a);
									border-color: var(--e-form-steps-indicator-active-secondary-color, #fff)
								}

								.e-form__indicators__indicator--state-active [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
									background-color: var(--e-form-steps-indicator-active-secondary-color, #fff)
								}

								.e-form__indicators__indicator--state-active object,
								.e-form__indicators__indicator--state-active svg {
									fill: var(--e-form-steps-indicator-active-primary-color, #39b54a)
								}

								.e-form__indicators__indicator--state-completed {
									color: var(--e-form-steps-indicator-completed-secondary-color, #fff)
								}

								.e-form__indicators__indicator--state-completed [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
									background-color: var(--e-form-steps-indicator-completed-primary-color, #39b54a)
								}

								.e-form__indicators__indicator--state-completed .e-form__indicators__indicator__label {
									color: var(--e-form-steps-indicator-completed-primary-color, #39b54a)
								}

								.e-form__indicators__indicator--state-completed .e-form__indicators__indicator--shape-none {
									color: var(--e-form-steps-indicator-completed-primary-color, #39b54a);
									background-color: initial
								}

								.e-form__indicators__indicator--state-completed object,
								.e-form__indicators__indicator--state-completed svg {
									fill: var(--e-form-steps-indicator-completed-secondary-color, #fff)
								}

								.e-form__indicators__indicator__icon {
									width: var(--e-form-steps-indicator-padding, 30px);
									height: var(--e-form-steps-indicator-padding, 30px);
									font-size: var(--e-form-steps-indicator-icon-size);
									border-width: 1px;
									border-style: solid;
									display: flex;
									justify-content: center;
									align-items: center;
									overflow: hidden;
									margin-bottom: 10px
								}

								.e-form__indicators__indicator__icon img,
								.e-form__indicators__indicator__icon object,
								.e-form__indicators__indicator__icon svg {
									width: var(--e-form-steps-indicator-icon-size);
									height: auto
								}

								.e-form__indicators__indicator__icon .e-font-icon-svg {
									height: 1em
								}

								.e-form__indicators__indicator__number {
									width: var(--e-form-steps-indicator-padding, 30px);
									height: var(--e-form-steps-indicator-padding, 30px);
									border-width: 1px;
									border-style: solid;
									display: flex;
									justify-content: center;
									align-items: center;
									margin-bottom: 10px
								}

								.e-form__indicators__indicator--shape-circle {
									border-radius: 50%
								}

								.e-form__indicators__indicator--shape-square {
									border-radius: 0
								}

								.e-form__indicators__indicator--shape-rounded {
									border-radius: 5px
								}

								.e-form__indicators__indicator--shape-none {
									border: 0
								}

								.e-form__indicators__indicator__label {
									text-align: center
								}

								.e-form__indicators__indicator__separator {
									width: 100%;
									height: var(--e-form-steps-divider-width);
									background-color: #babfc5
								}

								.e-form__indicators--type-icon,
								.e-form__indicators--type-icon_text,
								.e-form__indicators--type-number,
								.e-form__indicators--type-number_text {
									align-items: flex-start
								}

								.e-form__indicators--type-icon .e-form__indicators__indicator__separator,
								.e-form__indicators--type-icon_text .e-form__indicators__indicator__separator,
								.e-form__indicators--type-number .e-form__indicators__indicator__separator,
								.e-form__indicators--type-number_text .e-form__indicators__indicator__separator {
									margin-top: calc(var(--e-form-steps-indicator-padding, 30px) / 2 - var(--e-form-steps-divider-width, 1px) / 2)
								}

								.elementor-field-type-hidden {
									display: none
								}

								.elementor-field-type-html {
									display: inline-block
								}

								.elementor-login .elementor-lost-password,
								.elementor-login .elementor-remember-me {
									font-size: .85em
								}

								.elementor-field-type-recaptcha_v3 .elementor-field-label {
									display: none
								}

								.elementor-field-type-recaptcha_v3 .grecaptcha-badge {
									z-index: 1
								}

								.elementor-button .elementor-form-spinner {
									order: 3
								}

								.elementor-form .elementor-button>span {
									display: flex;
									justify-content: center;
									align-items: center
								}

								.elementor-form .elementor-button .elementor-button-text {
									white-space: normal;
									flex-grow: 0
								}

								.elementor-form .elementor-button svg {
									height: auto
								}

								.elementor-form .elementor-button .e-font-icon-svg {
									height: 1em
								}

								.elementor-select-wrapper .select-caret-down-wrapper {
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									inset-inline-end: 10px;
									pointer-events: none;
									font-size: 11px
								}

								.elementor-select-wrapper .select-caret-down-wrapper svg {
									display: unset;
									width: 1em;
									aspect-ratio: unset;
									fill: currentColor
								}

								.elementor-select-wrapper .select-caret-down-wrapper i {
									font-size: 19px;
									line-height: 2
								}

								.elementor-select-wrapper.remove-before:before {
									content: "" !important
								}
							</style>
							<form class="elementor-form" method="post" name="New Form">
								<input type="hidden" name="post_id" value="643" />
								<input type="hidden" name="form_id" value="d81e6cd" />
								<input type="hidden" name="referer_title" value="Partnership" />

								<input type="hidden" name="queried_id" value="643" />

								<div class="elementor-form-fields-wrapper elementor-labels-">
									<div
										class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-50">
										<label for="form-field-name"
											class="elementor-field-label elementor-screen-only">
											First Name </label>
										<input size="1" type="text" name="form_fields[name]" id="form-field-name"
											class="elementor-field elementor-size-lg  elementor-field-textual"
											placeholder="First Name">
									</div>
									<div
										class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_225c38d elementor-col-50">
										<label for="form-field-field_225c38d"
											class="elementor-field-label elementor-screen-only">
											Last Name </label>
										<input size="1" type="text" name="form_fields[field_225c38d]"
											id="form-field-field_225c38d"
											class="elementor-field elementor-size-lg  elementor-field-textual"
											placeholder="Last Name">
									</div>
									<div
										class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_4a7f704 elementor-col-50 elementor-field-required">
										<label for="form-field-field_4a7f704"
											class="elementor-field-label elementor-screen-only">
											Company/Organization </label>
										<input size="1" type="text" name="form_fields[field_4a7f704]"
											id="form-field-field_4a7f704"
											class="elementor-field elementor-size-lg  elementor-field-textual"
											placeholder="Company/Organization" required="required" aria-required="true">
									</div>
									<div
										class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_e0ff371 elementor-col-50 elementor-field-required">
										<label for="form-field-field_e0ff371"
											class="elementor-field-label elementor-screen-only">
											Job Title </label>
										<input size="1" type="text" name="form_fields[field_e0ff371]"
											id="form-field-field_e0ff371"
											class="elementor-field elementor-size-lg  elementor-field-textual"
											placeholder="Job Title" required="required" aria-required="true">
									</div>
									<div
										class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-50 elementor-field-required">
										<label for="form-field-email"
											class="elementor-field-label elementor-screen-only">
											Work Email </label>
										<input size="1" type="email" name="form_fields[email]" id="form-field-email"
											class="elementor-field elementor-size-lg  elementor-field-textual"
											placeholder="Work Email" required="required" aria-required="true">
									</div>
									<div
										class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-field_6dd2378 elementor-col-50 elementor-field-required">
										<label for="form-field-field_6dd2378"
											class="elementor-field-label elementor-screen-only">
											Phone number </label>
										<input size="1" type="tel" name="form_fields[field_6dd2378]"
											id="form-field-field_6dd2378"
											class="elementor-field elementor-size-lg  elementor-field-textual"
											placeholder="Phone number" required="required" aria-required="true"
											pattern="[0-9()#&amp;+*-=.]+"
											title="Only numbers and phone characters (#, -, *, etc) are accepted.">

									</div>
									<div
										class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-field_b7b06a7 elementor-col-100">
										<label for="form-field-field_b7b06a7"
											class="elementor-field-label elementor-screen-only">
											Message </label>
										<textarea class="elementor-field-textual elementor-field  elementor-size-lg"
											name="form_fields[field_b7b06a7]" id="form-field-field_b7b06a7" rows="6"
											placeholder="Message"></textarea>
									</div>
									<div
										class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
										<button type="submit" class="elementor-button elementor-size-md">
											<span>
												<span class=" elementor-button-icon">
												</span>
												<span class="elementor-button-text">Send</span>
											</span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}