{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="gap" style="height: 100px;"></div>
<div data-elementor-type="wp-page" data-elementor-id="575" class="elementor elementor-575">
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-8614a06 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="8614a06" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3cbf170"
				data-id="3cbf170" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-0990ff6 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
						data-id="0990ff6" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">RISK MAP

							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-1684c64 elementor-invisible elementor-widget elementor-widget-heading"
						data-id="1684c64" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:500}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Ukraine Risk Map
							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-0dba242 elementor-widget__width-initial animated-slow elementor-invisible elementor-widget elementor-widget-text-editor"
						data-id="0dba242" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:500}"
						data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.13.3 - 22-05-2023 */
								.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
									background-color: #69727d;
									color: #fff
								}

								.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
									color: #69727d;
									border: 3px solid;
									background-color: transparent
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
									margin-top: 8px
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
									width: 1em;
									height: 1em
								}

								.elementor-widget-text-editor .elementor-drop-cap {
									float: left;
									text-align: center;
									line-height: 1;
									font-size: 50px
								}

								.elementor-widget-text-editor .elementor-drop-cap-letter {
									display: inline-block
								}
							</style>
							<p>The Ukraine Risk Map is an interactive map, developed by Inherent Risks in May 2022,
								as an easy-to-use risk <br />management and journey planning tool with the primary
								goal of assisting organisations to identify Risk Zones in <br />Ukraine, and to
								establish where Medical, Evacuation and Crisis cover is available.</p>
							<p>To date it has received over 25,000 unique visitors, and is widely used by global
								insurers, media organisations, <br />NGOs, humanitarians, and foreign governments as
								an essential travel risk management tool</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-1e84e86 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="1e84e86" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-97a6b0e"
				data-id="97a6b0e" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-3380ef7 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
						data-id="3380ef7" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Ukraine Risk Rating
							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-996ce07 elementor-widget__width-inherit animated-slow elementor-invisible elementor-widget elementor-widget-text-editor"
						data-id="996ce07" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
						data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p><strong><em>This map is intelligence-led and is regularly reviewed and updated by
										Inherent Risks.</em></strong></p>
						</div>
					</div>
					<section
						class="elementor-section elementor-inner-section elementor-element elementor-element-ee43ee7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="ee43ee7" data-element_type="section"
						data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0956d5a"
								data-id="0956d5a" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-391971d elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="391971d" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default"><br></span>
										</div>
									</div>
									<div class="elementor-element elementor-element-d33e81d elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="d33e81d" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default"><br></span>
										</div>
									</div>
									<div class="elementor-element elementor-element-a832700 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="a832700" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default"><br></span>
										</div>
									</div>
									<div class="elementor-element elementor-element-80a61d8 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="80a61d8" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default"><br></span>
										</div>
									</div>
									<div class="elementor-element elementor-element-7c47f29 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="7c47f29" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default"><br></span>
										</div>
									</div>
									<div class="elementor-element elementor-element-d052ff0 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="d052ff0" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">5</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-a402109 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="a402109" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">4</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-bf4baf6 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="bf4baf6" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">3</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-b834943 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="b834943" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">2</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-6eb31f3 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="6eb31f3" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">1</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-7136d37 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="7136d37" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">SEVERE</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-a5dbfe4 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="a5dbfe4" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">MODERATE</span>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e7d7289"
								data-id="e7d7289" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-7c4d9b6 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="7c4d9b6" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">SEVERE</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-503afbd elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="503afbd" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span
												class="elementor-heading-title elementor-size-default">SIGNIFICANT</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-762ec1b elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="762ec1b" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">MODERATE</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-04259c7 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="04259c7" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">NO
												RESPONSE</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-8ec2fcf elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="8ec2fcf" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">NO
												RESPONSE</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-8736c13 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="8736c13" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span class="elementor-heading-title elementor-size-default">NO
												RESPONSE</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-59891a2 elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="59891a2" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span
												class="elementor-heading-title elementor-size-default">AVAILABLE</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-2d37eeb elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="2d37eeb" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span
												class="elementor-heading-title elementor-size-default">AVAILABLE</span>
										</div>
									</div>
									<div class="elementor-element elementor-element-63d447d elementor-widget__width-initial elementor-widget elementor-widget-heading"
										data-id="63d447d" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<span
												class="elementor-heading-title elementor-size-default">AVAILABLE</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="elementor-element elementor-element-33e1331 elementor-hidden-mobile elementor-widget elementor-widget-html"
						data-id="33e1331" data-element_type="widget" data-widget_type="html.default">
						<div class="elementor-widget-container">

							<div style="width: 100%; overflow: hidden; height: 600px;">
								<iframe loading="lazy"
									src="https://www.google.com/maps/d/embed?mid=16RsC9IU3S5Kljxw7c1DszLvIIBxaD2Q&amp;ehbc=2E312F"
									width="100%" height="650" frameborder="0" style="border:0; margin-top: -60px;">
								</iframe>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-63a2b0c elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-html"
						data-id="63a2b0c" data-element_type="widget" data-widget_type="html.default">
						<div class="elementor-widget-container">

							<div style="width: 100%; overflow: hidden; height: 400px;">
								<iframe loading="lazy"
									src="https://www.google.com/maps/d/embed?mid=16RsC9IU3S5Kljxw7c1DszLvIIBxaD2Q&amp;ehbc=2E312F"
									width="100%" height="450" frameborder="0" style="border:0; margin-top: -60px;">
								</iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-92f253c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="92f253c" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1c95ecc"
				data-id="1c95ecc" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-90e6003 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
						data-id="90e6003" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Medical Evacuation & Crisis
								Response
							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-a870524 elementor-widget__width-initial animated-slow elementor-invisible elementor-widget elementor-widget-text-editor"
						data-id="a870524" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:500}"
						data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p><span style="text-decoration: underline;"><strong>Get a Quote</strong></span>. Learn
								about how Inherent Risks can support you</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}